#page-container
  #header
    .nav-container
      %nav
        %ul
          %li>
            %a{href: '/#whatis-block-mark'}
              О нас
          %li>
            %a{href: '/#fillings-block-mark'}
              Начинки
          %li>
            %a{href: '/#cake-slider-mark'}
              Наши торты
          %li.logo>
            %a{href: '/'}
              %img{src: '/images/logo.png', alt: 'Cakehouse'}
          %li>
            %a{href: '/#feedback-block-mark'}
              Отзывы
          %li>
            %a{href: '/#events-block-mark'}
              Акции
          %li>
            %a{href: '/#contacts-block'}
              Контакты
    #nav-tail

  #page-block
    #page-content
      .page-title
        %h1
          = @page.title
      .page-text
        = raw @page.body

#footer-block.sticky-footer
  #footer
    %ul
      - @menu.each do |page|
        %li
          %a{href: page.href}
            = page.title