%h1
  Новый заказ на акцию
%h2
  Клиент:
.block
  ФИО:
  = @customer.name
.block
  Телефон:
  = @customer.phone

%h2
  Акция:
.block
  Название:
  = @order.sale.name
.block
  Описание:
  = @order.sale.description
.block
  Фото:
  %img{src: @order.sale.photo.url }
