!!!
%html
  %head
    %title Cakehouse, торты на заказ в Новосибирске
    %meta{:content => "Кондитерская мастерская CakeHouse. Изготовление тортов на заказ в Новосибирске. Только натуральные и свежие продукты.", :name => "description"}
    %meta{:content => "CakeHouse, кондитерская, торт, торты на заказ, изготовление тортов, авторские торты, торт на свадьбу, торт на день рождения, торты в Новосибирске", :name => "keywords"}
    %script{src: "http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU", type: "text/javascript"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js", type: "text/javascript"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
  :javascript
    new ExitController


