!!!
%html
  %head
    %title Cakehouse

    %script{src: "http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU", type: "text/javascript"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield